<!DOCTYPE html>
<html lang="en">

<head>
  <title>Upcoming</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Upcoming birthdays
        </h1>
        <h2 class="subtitle is-3">
          Here are some upcoming birthdays
        </h2>
      </div>
    </div>
  </section>
  {{> a2z-hero}}
  <section class="section">
    <div class="container">
      {{#if birthdayPeople}}
      <ul>
        {{#each birthdayPeople}}{{>person @this thisIsMe=../thisIsMe}} {{/each}}
      </ul>
      {{else}}
      <div class="columns">
        <div class="column notification has-text-weight-bold">
          There are no upcoming birthdays.
        </div>
      </div>
      {{/if}}
    </div>
  </section>
  {{>footer}}
</body>

</html>