.highlight:hover {
  background: $light;
}

.bottom-1 {
  margin-bottom: 3rem;
}

.bottom-2 {
  margin-bottom: 2.5rem;
}

.bottom-3 {
  margin-bottom: 2rem;
}

.bottom-4 {
  margin-bottom: 1.5rem;
}

.bottom-5 {
  margin-bottom: 1.25rem;
}

.bottom-6 {
  margin-bottom: 1rem;
}

.bottom-7 {
  margin-bottom: 0.75rem;
}

.narrow-input {
  max-width: 200px;
}