<!DOCTYPE html>
<html lang="en">

<head>
  <title>Facebook Feed</title>
  {{> head}}
</head>

<body>

  {{> nav}}
  <section class="hero is-bold {{#if isBusiness}}is-danger{{else}}is-info{{/if}}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Facebook feed
        </h1>
        <h2 class="subtitle is-3">If I need to add a Facebook Webcal feed, I can do that here</h2>
      </div>
    </div>
  </section>
  {{> a2z-hero}} {{> facebook}} {{>footer}}
</body>

</html>