<!DOCTYPE html>
<html lang="en">

<head>
  <title>By letter {{toUpperCase letter}}</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          {{toUpperCase letter}}
        </h1>
        <h2 class="subtitle is-3">People bought to you by the letter {{toUpperCase letter}}</h2>
      </div>
    </div>
  </section>

  {{> a2z-hero}} {{#if people}}
  <section class="section">
    <div class="container">
      <ul>
        {{#each people}} {{>person @this}} {{/each}}
      </ul>
    </div>
  </section>
  {{/if}} {{>footer}}
</body>

</html>