<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hidden People</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hidden People
        </h1>
        <h2 class="subtitle">
          These are all the people who are currently hidden from search results.
        </h2>
      </div>
    </div>
    {{> a2z-hero}}
  </section>

  {{#if people}}
  <section class="section">
    <div class="container">
      <ul>
        {{#each people}} {{>person @this}} {{/each}}
      </ul>
    </div>
  </section>
  {{/if}} {{>footer}}
</body>

</html>