<!DOCTYPE html>
<html lang="en">

<head>
  <title>Everyone</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Everyone
        </h1>
        <h2 class="subtitle is-3">
          Here are all the people
        </h2>
      </div>
    </div>
  </section>
  {{> a2z-hero}}
  <section class="section">
    <div class="container">
      {{#if people}}
      <ul>
        {{#each people}} {{>person @this}} {{/each}}
      </ul>
      {{else}}
      <div class="columns">
        <div class="column notification has-text-weight-bold">
          There is nobody here, I can add
          <a href="/person/add">people here</a>.
        </div>
      </div>
      {{/if}}
    </div>
  </section>
  {{>footer}}
</body>

</html>