<!DOCTYPE html>
<html lang="en">

<head>
  <title>Everyone</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Everyone
        </h1>
        <h2 class="subtitle">
          Here are all the people
        </h2>
      </div>
    </div>
    {{> a2z-hero}}
  </section>

  {{#if people}}
  <section class="section">
    <div class="container">
      <ul>
        {{#each people}}
          {{>person @this}}
        {{/each}}
      </ul>
    </div>
  </section>
  {{/if}} {{>footer}}
</body>

</html>