<!DOCTYPE html>
<html lang="en">

<head>
  <title>Missing Addresses</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Missing Addresses
        </h1>
        <h2 class="subtitle is-3">
          These are all the people we are missing addresses for.
        </h2>
      </div>
    </div>
  </section>
  {{> a2z-hero}}
  <section class="section">
    <div class="container">
      {{#if people}}
      <ul>
        {{#each people}} {{>person @this}} {{/each}}
      </ul>
      {{else}}
      <div class="columns">
        <div class="column notification has-text-weight-bold">
          I have addresses for everyone, go me!
        </div>
      </div>
      {{/if}}
    </div>
  </section>{{>footer}}
</body>

</html>