<!DOCTYPE html>
<html lang="en">

<head>
  <title>Missing Addresses</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Missing Addresses
        </h1>
        <h2 class="subtitle is-3">
          These are all the people we are missing addresses for.
        </h2>
      </div>
    </div>
  </section>
  {{> a2z-hero}} {{#if people}}
  <section class="section">
    <div class="container">
      <ul>
        {{#each people}} {{>person @this}} {{/each}}
      </ul>
    </div>
  </section>
  {{/if}} {{>footer}}
</body>

</html>