<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hide {{fullname}}</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-warning is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Hide {{person.fullname}}
        </h1>
        <h2 class="subtitle is-3">
          Remove this person from all results and listing
        </h2>
      </div>
    </div>
  </section>

  <form method="POST" action="/person/{{person.id}}/hide">

    <section class="section">
      <div class="container">

        <div class="columns">
          <div class="column notification has-text-weight-bold">
            This will hide this person from all results and listings, they will no longer show up. If you need to
            unhide this person
            you will find all the hidden people on the
            <a href="/people/hidden">Hidden</a> page.
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <input class="button is-warning" type="submit" name="action" value="Yes, hide this person">
                </div>
                <div class="level-item">
                  <a class="button is-link" href="/person/{{person.id}}">Nope, go back</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </form>
  {{>footer}}
</body>

</html>