<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{fullname}}</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{person.fullname}}
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <form method="POST" action="/person/{{person.id}}">

        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Birthday</strong>
          </div>
          <div class="column">
            {{#if person.nextBirthday}} {{datePretty person.nextBirthday}}
            <small>({{timeAgo person.nextBirthday}})</small>
            {{/if}}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Address</strong>
          </div>
          <div class="column">{{{addReturns person.address}}}</div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Country</strong>
          </div>
          <div class="column">{{person.country}}</div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Notes</strong>
          </div>
          <div class="column control">
            <textarea class="textarea is-small" name="notes" placeholder="Notes go here" rows="12">{{person.notes}}</textarea>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Source</strong>
          </div>
          <div class="column">{{person.source}}</div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Last updated</strong>
          </div>
          <div class="column">{{datePretty person.updated}}
            <small>({{timeAgo person.updated}})</small>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Created</strong>
          </div>
          <div class="column">{{datePretty person.created}}
            <small>({{timeAgo person.created}})</small>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">&nbsp;</div>
          <div class="column">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <input class="button is-primary" type="submit" name="action" value="Update">
                </div>
                <div class="level-item">
                  <a class="button is-link" href="/person/{{person.id}}/edit">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </section>
  {{>footer}}
</body>

</html>