<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{fullname}}</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{person.fullname}}
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <div class="columns">
        <div class="column is-one-quarter">
          <strong>Birthday</strong>
        </div>
        <div class="column">
          {{#if person.nextBirthday}} {{datePretty person.nextBirthday}}
          <small>({{timeAgo person.nextBirthday}})</small>
          {{/if}}
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">
          <strong>Age</strong>
        </div>
        <div class="column">
          {{person.age}}
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">
          <strong>Address</strong>
        </div>
        <div class="column">{{{addReturns person.address}}}</div>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">
          <strong>Country</strong>
        </div>
        <div class="column">{{person.country}}</div>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">

        </div>
        <div class="column">
          <a class="button is-link" href="/person/{{person.id}}/edit">Edit</a>
        </div>
      </div>

      <form method="POST" action="/person/{{person.id}}">
        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Notes</strong>
          </div>
          <div class="column control">
            <textarea class="textarea is-small" name="notes" placeholder="Notes go here" rows="12">{{person.notes}}</textarea>
          </div>
        </div>
        <div class="columns">
          <div class="column level">
            <div class="level-right">
              <div class="level-item">
                <input class="button is-primary" type="submit" name="action" value="Save notes">
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr />

      <form method="POST" action="/person/{{person.id}}">
        <div class="columns">
          <div class="column is-one-quarter">
            {{#if person.contacted}}
            <strong>Contacted</strong>{{/if}}
          </div>
          <div class="column">
            {{#each person.contacted}}
            <div class="columns">
              <div class="column control is-7">
                <p>
                  {{details}}
                </p>
                <p>
                  <small>{{datePretty created}}
                    <small>({{timeAgo created}})</small>
                  </small>
                </p>
                <input type="hidden" name="ids" value="{{id}}" />
              </div>
              <div class="column control level is-3">
                <div class="level">
                  <label class="checkbox level-item">
                    <input class="" type="checkbox" name="checkbox1_{{id}}" value="true" {{#if checked1}}checked{{/if}}> One
                  </label>
                  <label class="checkbox level-item">
                    <input class="" type="checkbox" name="checkbox2_{{id}}" value="true" {{#if checked2}}checked{{/if}}> Two
                  </label>
                </div>
              </div>
              <div class="column control level is-2">
                <div class="level-right">
                  <button class="level-item button is-danger" type="submit" name="action" value="remove_{{id}}">Delete</button>
                </div>
              </div>
            </div>
            {{/each}} {{#if person.contacted}}
            <div class="columns level">
              <div class="column level-item is-7">&nbsp;</div>
              <div class="control level-item">
                <button class="level-item button is-primary" type="submit" name="action" value="update_checkboxes">Update</button>
              </div>
              <div class="column level-item is-2">&nbsp;
              </div>
            </div>
            <div class="columns level">
              &nbsp;
            </div>
            {{/if}}
          </div>
        </div>
      </form>

      <form method="POST" action="/person/{{person.id}}">
        <div class="columns">
          <div class="column is-one-quarter">{{#unless person.contacted}}
            <strong>Contacted</strong>{{/unless}}
          </div>
          <div class="column columns">
            <div class="column control">
              <input class="input" type="text" name="newcontact" placeholder="Add details about how, why you contacted someone here">
            </div>
            <div class="column level is-2">
              <div class="level-right">
                <input class="level-item button is-primary" type="submit" name="action" value="Add contacted">
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr />

      <form method="POST" action="/person/{{person.id}}">
        <div class="columns">
          <div class="column is-one-quarter">
            <strong>Other dates</strong>
          </div>
          <div class="column">
            <div class="columns">
              <div class="column is-2 field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Day</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input is-static" type="number" min="1" max="31" name="day" placeholder="1">
                    </p>
                  </div>
                </div>
              </div>
              <div class="column is-4">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Month</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="select">
                        <select name="month">
                          <option value='1'>01 - January</option>
                          <option value='3'>03 - March</option>
                          <option value='2'>02 - February</option>
                          <option value='4'>04 - April</option>
                          <option value='5'>05 - May</option>
                          <option value='6'>06 - June</option>
                          <option value='7'>07 - July</option>
                          <option value='8'>08 - August</option>
                          <option value='9'>09 - September</option>
                          <option value='10'>10 - October</option>
                          <option value='11'>11 - November</option>
                          <option value='12'>12 - December</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-4 field is-horizontal">
                <div class="field-body">
                  <input class="input" type="text" name="details" placeholder="Add details about the date here">
                </div>
              </div>
              <div class="column is-2 level">
                <div class="level-right">
                  <input class="button is-primary level-item" type="submit" name="action" value="Add date">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr />

      <form method="POST " action="/person/{{person.id}} ">
        <div class="columns ">
          <div class="column is-one-quarter ">
            <strong>Source</strong>
          </div>
          <div class="column ">{{person.source}}</div>
        </div>

        <div class="columns ">
          <div class="column is-one-quarter ">
            <strong>Last updated</strong>
          </div>
          <div class="column ">{{datePretty person.updated}}
            <small>({{timeAgo person.updated}})</small>
          </div>
        </div>

        <div class="columns ">
          <div class="column is-one-quarter ">
            <strong>Created</strong>
          </div>
          <div class="column ">{{datePretty person.created}}
            <small>({{timeAgo person.created}})</small>
          </div>
        </div>

        <div class="columns ">
          <div class="column is-one-quarter ">&nbsp;</div>
          <div class="column ">
            <div class="level ">
              <div class="level-left ">
                <div class="level-item ">
                  {{#if person.hidden}}
                  <a class="button is-warning " href="/person/{{person.id}}/unhide ">Unhide person</a>
                  {{else}}
                  <a class="button is-warning " href="/person/{{person.id}}/hide ">Hide person</a>
                  {{/if}}
                </div>
                <div class="level-item ">
                  <a class="button is-danger " href="/person/{{person.id}}/delete ">Delete person</a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </section>
  {{>footer}}
</body>

</html>