<!DOCTYPE html>
<html lang="en">

<head>
  <title>Newly discovered people</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Newly discovered people</h1>
        <h2 class="subtitle is-3">Here are the people we have found in the last {{days}} days</h2>
      </div>
    </div>
  </section>
  {{> a2z-hero}}

  <section class="section">
    <div class="container">
      {{#if newPeople}}
      <ul>
        {{#each newPeople}}
        <li>
          <strong>
            <a href="/person/{{id}}">{{fullname}}</a>
          </strong>
          <small>({{timeAgo created}})</small>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <div class="columns">
        <div class="column notification has-text-weight-bold">
          No new people have been discovered in the last {{days}} days
        </div>
      </div>
      {{/if}}
    </div>
  </section>

  {{>footer}}
</body>

</html>