<!DOCTYPE html>
<html lang="en">

<head>
  <title>Newly discovered people</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Newly discovered people</h1>
        <h2 class="subtitle">Here are the people we have found in the last {{days}} days</h2>
      </div>
    </div>
    {{> a2z-hero}}
  </section>

  <section class="section">
    <div class="container">
      {{#if newPeople}}
      <ul>
        {{#each newPeople}}
        <li>
          <strong>
            <a href="/person/{{id}}">{{fullname}}</a>
          </strong>
          <small>({{timeAgo created}})</small>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <p>
        No new people have been discovered in the last {{days}} days
      </p>
      {{/if}}
    </div>
  </section>

  {{>footer}}
</body>

</html>