{{> a2z-footer}}

<div class="footer">
  {{#if loggedIn}}
  <div class="level">
    <div class="level-left">

      <a class="level-item" href="/discovered">
        <span class="is-hidden-touch is-hidden-widescreen">
          New!
        </span>
        <span class="is-hidden-desktop-only">
          Newly discovered
        </span>
      </a>

      <a class="level-item" href="/people/missing-birthdays">
        <span class="is-hidden-touch is-hidden-widescreen">
          No birthday
        </span>
        <span class="is-hidden-desktop-only">
          Missing birthdays
        </span>
      </a>

      <a class="level-item" href="/people/missing-addresses">
        <span class="is-hidden-touch is-hidden-widescreen">
          No address
        </span>
        <span class="is-hidden-desktop-only">
          Missing addresses
        </span>
      </a>

      <a class="level-item" href="/people/hidden">
        <span class="is-hidden-touch is-hidden-widescreen">
          Hidden
        </span>
        <span class="is-hidden-desktop-only">
          Hidden people
        </span>
      </a>

    </div>
  </div>
  {{/if}}
</div>

<script>
</script>