<nav id="navbar" class="navbar has-background-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{#if loggedIn}}
    <a class="navbar-item" href="/">
      Home
    </a>
    {{/if}}
    <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>

  {{#if loggedIn}}
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/upcoming">
        Upcoming birthdays
      </a>

      <a class="navbar-item" href="/everyone">
        Everyone
      </a>

      <a class="navbar-item" href="/upcomingDates">
        Upcoming dates
      </a>

      <a class="navbar-item" href="/person/add">
        <span class="button is-link">
          Add new person
        </span>
      </a>

    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/logout">
        Logout
      </a>
    </div>
  </div>
  {{else}}
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/login">
        <span>
          Login
        </span>
      </a>
    </div>
  </div>
  {{/if}}
</nav>