<li class="level">
  <span class="level-left">
    <span class="level-item icon has-text-warning">
      {{#if icon}}&nbsp;<span class="icon">
        <i class="{{icon.style}} fa-{{icon.icon}} has-text-{{icon.colour}}"></i>
      </span>{{/if}}
    </span>
    <span class="level-item">
      <strong>
        <a href="/person/{{id}}">{{fullname}}</a>
      </strong>
    </span>
    <span class="level-item">{{datePretty nextBirthday}}</span>
  </span>
  {{#if nextBirthday}}
  <span class="level-right">
    <span class="level-item">
      {{#ifNotEqual country thisIsMe.country}}
      {{#if ../country}}
      <small>({{timeAgo ../../nextBirthday}} <span class="icon is-small has-text-grey-light"><i class="fas fa-plane"></i></span>)</small>
      {{else}}
      <small>({{timeAgo ../../nextBirthday}})</small>
      {{/if}}
      {{else}}
      <small>({{timeAgo ../nextBirthday}})</small>
      {{/ifNotEqual}}
    </span>
  </span>
  {{/if}}
</li>