<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{fullname}}</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-bold {{#if isBusiness}}is-danger{{else}}is-info{{/if}}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          {{person.fullname}}
        </h1>
        {{#if person.nextBirthday}}
          <h2 class="subtitle is-3">{{datePrettyNoYear person.nextBirthday}}</h2>
        {{/if}}
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">

      <form method="POST" action="/person/{{person.id}}">

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name="fullname" placeholder="Person's name" value="{{person.fullname}}">
          </div>
        </div>

        <div class="field">
          <label class="label">Month</label>
          <div class="select">
            <select name="month">
              {{#if person.month}}
                <option {{#ifEqual 1 person.month}} selected{{/ifEqual}} value='1'>01 - January</option>
                <option {{#ifEqual 2 person.month}} selected{{/ifEqual}} value='2'>02 - February</option>
                <option {{#ifEqual 3 person.month}} selected{{/ifEqual}} value='3'>03 - March</option>
                <option {{#ifEqual 4 person.month}} selected{{/ifEqual}} value='4'>04 - April</option>
                <option {{#ifEqual 5 person.month}} selected{{/ifEqual}} value='5'>05 - May</option>
                <option {{#ifEqual 6 person.month}} selected{{/ifEqual}} value='6'>06 - June</option>
                <option {{#ifEqual 7 person.month}} selected{{/ifEqual}} value='7'>07 - July</option>
                <option {{#ifEqual 8 person.month}} selected{{/ifEqual}} value='8'>08 - August</option>
                <option {{#ifEqual 9 person.month}} selected{{/ifEqual}} value='9'>09 - September</option>
                <option {{#ifEqual 10 person.month}} selected{{/ifEqual}} value='10'>10 - October</option>
                <option {{#ifEqual 11 person.month}} selected{{/ifEqual}} value='11'>11 - November</option>
                <option {{#ifEqual 12 person.month}} selected{{/ifEqual}} value='12'>12 - December</option>
              {{else}}
                <option value='1' {{#ifEqual today.month 1}} selected{{/ifEqual}}>01 - January</option> <option value='2'
                  {{#ifEqual today.month 2}} selected{{/ifEqual}}>02- February</option> <option value='3'
                  {{#ifEqual today.month 3}} selected{{/ifEqual}}>03 - March</option> <option value='4'
                  {{#ifEqual today.month 4}} selected{{/ifEqual}}>04 - April</option> <option value='5'
                  {{#ifEqual today.month 5}} selected{{/ifEqual}}>05 - May</option> <option value='6'
                  {{#ifEqual today.month 6}} selected{{/ifEqual}}>06 - June</option> <option value='7'
                  {{#ifEqual today.month 7}} selected{{/ifEqual}}>07 - July</option> <option value='8'
                  {{#ifEqual today.month 8}} selected{{/ifEqual}}>08 - August</option> <option value='9'
                  {{#ifEqual today.month 9}} selected{{/ifEqual}}>09 - September</option> <option value='10'
                  {{#ifEqual today.month 10}} selected{{/ifEqual}}>10 - October</option> <option value='11'
                  {{#ifEqual today.month 11}} selected{{/ifEqual}}>11 - November</option> <option value='12'
                  {{#ifEqual today.month 12}} selected{{/ifEqual}}>12 - December</option> {{/if}} </select> </div> </div>
                  <div class="field">
                  <label class="label">Day</label>
                  <div class="control">
                    <input class="input narrow-input" type="number" min="1" max="31" name="day" placeholder="1" value="{{#if person.day}}{{person.day}}{{else}}{{today.day}}{{/if}}">
                  </div>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="idontknowbirthday" value="true" {{#unless person.day}} checked{{/unless}}> I
                don't know the birthday </label> </div> <div class="field">
              <label class="label">Age</label>
              <div class="control">
                <input class="input" type="text" name="age" placeholder="If you know the persons age *and* birthday, add the *age* here"
                  value="{{person.age}}">
              </div>
          </div>

          <div class="field">
            <label class="label">Address</label>
            <div class="control">
              <textarea class="textarea" name="address" placeholder="Enter the address">{{person.address}}</textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Country</label>
            <div class="control">
              <input class="input" type="text" name="country" placeholder="Enter a country" value="{{person.country}}">
            </div>
          </div>

          <div class="level">
            <div class="level-left">
              <div class="level-item">
                &nbsp;
              </div>
            </div>
            <div class="level-right">
              <div class="level-item control">
                <button class="button is-primary" type="submit" name="action" value="Update">Save the details</button>
              </div>
            </div>
          </div>

      </form>

    </div>
  </section>
  {{>footer}}
</body>

</html>