<!DOCTYPE html>
<html lang="en">

<head>
  <title>Upcoming Other Dates</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero is-bold {{#if isBusiness}}is-danger{{else}}is-info{{/if}}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Upcoming other dates
        </h1>
        <h2 class="subtitle is-3">
          Here are some upcoming dates in the next 4 months to keep an eye on
        </h2>
      </div>
    </div>
  </section>
  {{> a2z-hero}}
  <section class="section">
    <div class="container">
      {{#if upcomingDates}}
      <ul>
        {{#each upcomingDates}}
        <li>
          <label class="label">{{details}}</label>
        </li>
        <li class="level">
          <span class="level-left">
            <span class="level-item">
              <strong>
                <a href="/person/{{person.id}}">{{person.fullname}}</a>
              </strong>
            </span>
            <span class="level-item">{{datePretty nextOccurance}}</span>
          </span>
          <span class="level-right">
            <span class="level-item">
              <small> ({{timeAgo nextOccurance}})</small>
            </span>
          </span>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <div class="columns">
        <div class="column notification has-text-weight-bold">
          There are no upcoming events, time to relax or plan!
        </div>
      </div>
      {{/if}}
    </div>
  </section>
  {{>footer}}
</body>

</html>