<!DOCTYPE html>
<html lang="en">

<head>
  <title>Upcoming Other Dates</title>
  {{> head}}
</head>

<body>

  {{> nav}}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Upcoming other dates
        </h1>
        <h2 class="subtitle">
          Here are some upcoming dates to keep an eye on
        </h2>
      </div>
    </div>
    {{> a2z-hero}}
  </section>

  {{#if upcomingDates}}
  <section class="section">
    <div class="container">
      <ul>
        {{#each upcomingDates}}
        <li>
          <label class="label">{{details}}</label>
        </li>
        <li class="level">
          <span class="level-left">
            <span class="level-item">
              <strong>
                <a href="/person/{{person.id}}">{{person.fullname}}</a>
              </strong>
            </span>
            <span class="level-item">{{datePretty nextOccurance}}</span>
          </span>
          <span class="level-right">
            <span class="level-item">
              <small> ({{timeAgo nextOccurance}})</small>
            </span>
          </span>
        </li>
        {{/each}}
      </ul>
    </div>
  </section>
  {{/if}} {{>footer}}
</body>

</html>